::placeholder {
  color: white;
}

input {
  background: none;
  border: 0;
  color: white;
  font: inherit;
  margin: 0;
  padding: 0;
}

input:focus::placeholder {
  color: transparent;
}

.form__field {
  align-items: center;
  background-color: #343434;
  box-shadow: inset 1px 1px 1px #242424, inset -1px -1px 1px #565656;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.form--search input[type='submit'] {
  background-repeat: no-repeat;
  background-size: 1.5em;
  order: -1;
  width: 3em;
}
